.navigation-bar{
    background-color: rgb(17, 146, 252);
}

.navigation-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}




.navigation-bar a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 40px;
    display: block;
    text-align: center;
    cursor: pointer;
}

.navigation-bar a:hover{
    background-color: rgb(9, 103, 180);
}

.navigation-bar li {
    float: left;
}